<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
		<table border="1" width="100%" >
	<tr>
	<td > picture </td>
	<td align="right">
	<a href="login.html">Login</a> |<a href="registration.html">Registration</a>|<a href="../index.html">Home</a>
	</td>
	<tr style="height:200px;">
	<td align="center" colspan="2">
	

		<form method="post" action="../controller/loginCheck.php">
			<fieldset style="width:100px;">
				<legend>Login</legend>
				<table width="60%">
					<tr>
						<td>Username</td>
						<td><input type="text" name="username"></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password"></td>
					</tr>
				
					<tr>
				
						<td><input type="submit" name="submit" value="Submit"></td>
						<td> <a href="../controller/forgetpass.php"> forget password? </a> </td>
					</tr>
					
				</table>
				
			</fieldset>
		</form>
		<tr >
				<td colspan="2" align="center">
					copyritec@17
	
				</td>
			</tr>
			</table>
</body>
</html>